.calculator {
    .section {
        &__flex {
            gap: 20px;

            @media (max-width: 1024px) {
                flex-direction: column;
                gap: 0;
            }

            &-left {
                flex: 1 1 auto;
                padding: 40px 30px;
                border-radius: 10px;
                background-color: $white;

                @media (max-width: 1024px) {
                    padding: 15px 15px 35px 15px;
                }
            }

            &-right {
                max-width: 360px;
                flex: 1 1 auto;

                padding: 40px 30px;
                border-radius: 10px;
                background-color: #f1f3f4;

                @media (max-width: 1024px) {
                    padding: 40px 15px;
                    max-width: unset;
                }
            }
        }
    }

    // .calculator-body

    &-body {
    }

    .categories {
        // .categories-flex

        &-flex {
        }

        // .categories-list

        &-list {
            margin-top: 14px;
            margin-bottom: 25px;

            li {
                a {
                    transition: all 0.3s ease 0s;
                }

                @media (any-hover: hover) {
                    &:hover {
                        a {
                            background-color: #ffedd9;
                            color: #f6880b;
                        }
                    }
                }
            }
        }
    }

    // .calculator-result

    &-result {
        .price {
            color: $text;
            font-size: 27px;
            font-weight: 500;
            line-height: 1.2;
            text-transform: uppercase;
        }

        .clue {
            // .clue-button

            &-button {
                margin-bottom: 10px;

                .clue-text {
                    left: 0;
                }
            }

            // .clue-text

            &-text {
            }
        }

        // .calculator-result__mounth

        &__mounth {
            margin-bottom: 20px;
            .clue-button {
                span {
                    color: $text;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.4;
                    text-transform: uppercase;

                    @media (max-width: 768px) {
                        font-size: 12px;
                    }
                }
            }
            .price {
                color: $accent;
                font-size: 50px;
                font-weight: 500;
                line-height: 1.2;
                text-transform: uppercase;
            }
        }

        // .calculator-result__deal

        &__deal {
            margin-bottom: 38px;

            .clue-button {
                span {
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }

        // .calculator-result__tax

        &__tax {
            margin-bottom: 70px;

            @media (max-width: 1024px) {
                margin-bottom: 50px;
            }

            .clue-button {
                span {
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }

        // .calculator-result__bottom

        &__bottom {
            div {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                gap: 20px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 38px;
                    padding: 3px 10px;
                    gap: 6px;
                    border-radius: 10px;
                    background-color: $white;

                    color: $accent;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    text-transform: uppercase;
                    white-space: nowrap;

                    svg {
                        width: 14px;
                        height: 14px;
                        flex: 0 0 auto;
                        fill: none;
                        stroke: $accent;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 10px;
                    background-color: $accent;
                    height: 38px;
                    padding: 3px 20px;

                    color: $white;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    text-transform: uppercase;
                    transition: background-color 0.3s ease 0s;

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: #ffa034;
                        }
                    }
                }
            }

            p {
                color: rgba($color: $text, $alpha: 0.5);
                font-size: 12px;
                font-weight: 500;
                line-height: 1.4;
            }
        }
    }
}

.calculator {
    // .calculator-body

    &-body {
        & > :not(:last-child) {
            margin-bottom: 30px;
        }

        .price {
            color: var(--111, rgba(153, 153, 153, 0.6));
            span {
                color: $text;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4;
                text-transform: uppercase;
            }
        }
    }

    // .calculator-range

    &-range {
        &__top {
            border-radius: 10px;
            border: 1px solid #f1f3f4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;

            position: relative;
            overflow: hidden;

            &:after,
            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                width: 50%;
                height: 2px;

                @media (max-width: 1024px) {
                    height: 1.5px;
                }
            }

            &:before {
                left: 0;
                background-color: $accent;
            }

            &:after {
                right: 0;
                background-color: #f1f3f4;
            }
        }
    }
}

.range {
    // .range-slider

    &-slider {
        margin-top: -3px;
        margin-inline: auto;
        max-width: calc(100% - 20px);
    }

    // .range-output

    &-output {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            color: #999999;
            font-size: 12px;
            font-weight: 600;
        }
    }

    // .range-min

    &-min {
    }

    // .range-max

    &-max {
    }
}

.dhx_slider__thumb--nullable {
    width: 20px;
    height: 20px;
    background-color: $accent;
}

.dhx_slider__thumb--nullable:after {
    width: 14px;
    height: 14px;
}
.dhx_slider__range {
    background-color: $accent;
}

.dhx_slider__thumb {
    background-color: $accent;

    &:after {
        background-color: $white;
    }

    &:before {
        background-color: rgba($color: $accent, $alpha: 0.15);
    }
}

.dhx_slider__track {
    padding: 0;

    &:before {
        background-color: #f1f3f4;
    }
}

.dhx_slider {
    padding-bottom: 10px;
}
