.catalog {
    // .catalog-sidebar

    &-sidebar {
    }

    // .catalog-content

    &-content {
        flex: 1 1 auto;

        // .catalog-content__top

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 30px;
            margin-bottom: 20px;

            @media (max-width: 1024px) {
                gap: 20px;
            }

            span {
                white-space: nowrap;
                color: $text;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
            }

            .filter-search {
                flex: 1 1 auto;

                @media (max-width: 500px) {
                    max-width: 160px;
                }

                form {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 10px;
                    background-color: #f1f3f4;
                    height: 37px;
                    padding-left: 15px;
                    transition: border 0.3s ease 0s;
                    border: 1px solid transparent;

                    @media (any-hover: hover) {
                        &:hover {
                            border-color: $accent;
                        }
                    }

                    input {
                        width: 100%;
                        color: $text;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1;
                        text-transform: uppercase;

                        &::placeholder {
                            text-transform: initial;
                            font-size: 14px;
                        }
                    }

                    button {
                        height: 100%;
                        width: 37px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 14px;
                            height: 14px;
                            flex: 0 0 auto;
                        }
                    }
                }
            }

            .sort,
            .filter__open {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    flex: 0 0 auto;
                    width: 24px;
                    height: 24px;
                    fill: none;
                    stroke: $accent;
                }
            }

            .filter__open {
                @media (min-width: 1025px) {
                    display: none;
                }
                svg,
                img {
                    transform: all 0.3s ease 0s;
                }

                &._active {
                    svg,
                    img {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        .grid {
            gap: 25px 13px;

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 10px 4px;
            }
        }
    }

    &._loading {
        .section__flex {
            position: relative;

            &:before {
                z-index: 1;
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background-color: rgba($color: $white, $alpha: 0.75);
                background-image: url("@img/loading.gif");
                background-repeat: no-repeat;
                background-position: calc(50% + (277px + 36px) / 2) 150px;
                background-size: 100px;

                @media (max-width: 1024px) {
                    background-position: center 150px;
                }
            }
        }
    }
}

.sort {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        fill: none;
        stroke: $accent;

        transition: transform 0.3s ease 0s;
    }

    &._active {
        svg {
            transform: rotate(180deg);
        }
    }

    * {
        pointer-events: none;
    }
}

.qty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f1f3f4;

    padding: 2px 6px;
    height: 28px;
    color: $accent;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    @media (max-width: 768px) {
        height: 24px;
    }
}

.catalog-sidebar {
    @media (min-width: 1025px) {
        width: 277px;
        margin-right: 36px;
    }

    @media (max-width: 1024px) {
        position: fixed;
        left: 0;
        top: 60px;
        width: 100vw;
        height: calc(100% - 60px);
        overflow-y: auto;

        background-color: $white;
        z-index: 4;
        padding: 0 10px 60px 10px;

        transform: translate3d(-120%, 0, 0);
        opacity: 0;

        transition: all 0.3s ease 0s;

        &._open {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    // .catalog-sidebar__menu

    &__menu {
    }

    // .catalog-sidebar__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @media (max-width: 1024px) {
            width: 100vw;
            margin-left: -10px;
            position: sticky;
            top: 0;
            margin-bottom: 0;
            padding: 25px 10px 20px 10px;
            background-color: $white;
            z-index: 5;
            border-bottom: 1px solid rgba($color: $text, $alpha: 0.1);
        }

        div {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                color: $text;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4;
                text-transform: uppercase;
            }

            p {
                color: rgba($color: $text, $alpha: 0.5);
                font-size: 14px;
                font-weight: 400;
                line-height: 1.4;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 24px;
                height: 24px;
                padding: 6px 4px;

                border-radius: 7px;
                background-color: #f1f3f4;
                transition: background-color 0.3s ease 0s;

                svg,
                img {
                    fill: none;
                    stroke: $text;
                    width: 12px;
                    height: 12px;
                    flex: 0 0 auto;
                    transition: stroke 0.3s ease 0s;
                    pointer-events: none;
                }

                @media (any-hover: hover) {
                    &:hover {
                        svg {
                            stroke: $accent;
                        }
                        background-color: #ffedd9;
                    }
                }
            }
        }

        .result {
            @media (max-width: 1024px) {
                display: none;
            }
        }

        .filter__close {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;

            @media (min-width: 1025px) {
                display: none;
            }

            svg,
            img {
                pointer-events: none;
                width: 24px;
                height: 24px;
                flex: 0 0 auto;
            }
        }
    }

    // .catalog-sidebar__actions

    &__actions {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 27px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(153, 153, 153, 0.6);
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            width: 100%;
            height: 38px;
            border-radius: 10px;
            gap: 6px;
            transition: all 0.3s ease 0s;

            span {
                display: block;
                pointer-events: none;
            }

            svg,
            img {
                pointer-events: none;
                flex: 0 0 auto;
                width: 14px;
                height: 14px;
                transition: all 0.3s ease 0s;
                fill: none;
                stroke: rgba(153, 153, 153, 0.6);
            }

            &.reset {
                @media (any-hover: hover) {
                    &:hover {
                        background-color: #f5ebdd;
                        color: $accent;
                        svg {
                            stroke: $accent;
                        }
                    }
                }
            }

            &.apply {
                background-color: $accent;
                color: $white;
            }
        }
    }
}

.filter {
    &._open {
        .filter__title {
            svg,
            img {
                transform: rotate(270deg);
            }
        }

        .filter__items-list {
            max-height: 100%;
            opacity: 1;
            z-index: 0;
            visibility: visible;
        }
    }
    // .filter__title

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-top: 1px solid rgba($color: $text, $alpha: 0.1);
        cursor: pointer;

        @media (max-width: 1024px) {
            padding: 15px 0;
        }

        * {
            pointer-events: none;
        }

        span {
            color: $text;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.4;
            text-transform: uppercase;
        }

        svg {
            width: 24px;
            height: 18px;
            flex: 0 0 auto;
            fill: none;
            stroke: $accent;
            transform: rotate(90deg);
            transition: transform 0.3s ease 0s;
        }
    }

    // .filter__items

    &__items {
        // .filter__items-list

        &-list {
            position: relative;
            transition: all 0.3s ease 0s;
            max-height: 0;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
        }

        // .filter__items-body

        &-body {
            max-height: 211px;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding-bottom: 20px;

            @media (max-width: 1024px) {
                padding-bottom: 14px;
            }

            &::-webkit-scrollbar {
                border-radius: 27px;
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                width: 4px;
                background: rgba($color: $text, $alpha: 0.1);
            }

            & > :not(:last-child) {
                margin-bottom: 6px;
            }

            &._flex-wrap {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;

                position: relative;

                input {
                    position: absolute;
                }

                .checkbox {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    border: 1.5px solid #f1f3f4;
                    background-color: $white;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    &:after {
                        content: "";
                        background-image: url("@img/icons//check.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 20px;
                        height: 20px;
                        display: none;
                    }
                }

                input:checked + .checkbox {
                    border-color: $accent;

                    &:after {
                        display: block;
                    }

                    &:before {
                        background-color: $accent;
                    }
                }
            }
        }
    }

    // .filter__cat

    &__cat {
        label {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 5px 8px 6px 8px;

            border-radius: 10px;
            background-color: #f1f3f4;

            color: $text;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;

            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $accent;
                    background-color: #ffedd9;
                }
            }

            &:has(input:checked) {
                color: $accent;
                background-color: #ffedd9;
            }

            position: relative;

            input {
                position: absolute;
                visibility: hidden;
                opacity: 0;
            }

            svg {
                fill: none;
                stroke: $accent;
                width: 18px;
                height: 18px;
                flex: 0 0 auto;
            }
        }
    }

    // .filter__item

    &__item {
        // .filter__item-name

        &-name {
            display: block;
            margin: 0 10px;
        }

        // .filter__item-qty

        &-qty {
        }
    }

    // .filter__price

    &__price {
        .checkbox {
            border-radius: 50% !important;

            &:after {
                display: none !important;
            }

            &:before {
                content: "";
                width: 8px;
                height: 8px;
                display: block !important;
                border-radius: 50%;
                background-color: rgba($color: $text, $alpha: 0.1);
            }
        }
        // .filter__price-input

        &-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 6px;
            margin-bottom: 14px;

            div {
                border-radius: 17px;
                background-color: rgba($color: $text, $alpha: 0.1);
                width: 7px;
                height: 2px;
                flex: 0 0 auto;
            }

            label {
                display: flex;
                align-items: center;
                padding: 6px 10px 7px 10px;
                border-radius: 10px;
                border: 1px solid #f1f3f4;
                background-color: $white;
                flex: 1 1 auto;
                width: 45%;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;
                    opacity: 0.5;
                }

                input {
                    padding-left: 6px;
                    height: 100%;
                    flex: 1 1 auto;
                    display: block;
                    max-width: calc(100% - 30px);

                    position: static;

                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: uppercase;
                }
            }
        }
    }
}
