.news-catalog {
    .section__flex {
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .grid {
        gap: 20px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        // .grid-3

        &-3 {
        }
    }
}

._filter {
    span {
        color: $text;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.6;
        text-transform: uppercase;
    }

    display: flex;
    align-items: center;
    gap: 10px;

    svg {
        transition: all 0.3s ease 0s;

        fill: none;
        stroke: $accent;
    }
}

.catalog__category {
    position: relative;

    ul {
        transition: all 0.3s ease 0s;

        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: auto;
        background-color: $white;
        z-index: 2;
        border-radius: 10px;

        max-height: 0;
        overflow: hidden;
        z-index: -1;

        li {
            color: $text;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.6;
            text-transform: uppercase;
            padding: 10px;
            transition: color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $accent;
                }
            }
        }
    }

    svg {
        width: 20px;
        height: 20px;
        flex: 0 0 auto;
        transform: rotate(90deg);
    }

    @media (any-hover: hover) {
        &:hover {
            ul {
                max-height: fit-content;
                overflow: visible;
                z-index: 2;
            }

            svg {
                transform: rotate(-90deg);
            }
        }
    }

    &._active {
        ul {
            max-height: fit-content;
            overflow: visible;
            z-index: 2;
        }

        svg {
            transform: rotate(-90deg);
        }
    }
}

.catalog__sort {
    svg {
        width: 24px;
        height: 24px;
        flex: 0 0 auto;
    }

    @media (any-hover: hover) {
        &:hover {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    &._active {
        svg {
            transform: rotate(-180deg);
        }
    }
}
